imports:
    - { resource: parameters.yml }
    - { resource: security.yml }
#Uncomment then next line if you have problems using an oracle database with mapbender.
#   - { resource: oracle.yml }


parameters:
  log_path: '%kernel.logs_dir%/%kernel.environment%.log'
     
  featureTypes:
    poi:
      connection: geodata_db   # Name of the database-connection from the config.yml
      table: public.poi       # Table-name in which the FeatureTypes are stored
      uniqueId: gid         # Column-name with the unique identifier
      geomType: point         # Geometry-type
      geomField: geom         # Column-name in which the geometry is stored
      srid: 4326              # source EPSG-code of data
      print:                  # print template to offer for feature data print
        templates:
         - template: a4_portrait_official_feature_data_demo
           label: Demo with feature information print (portrait)
         - template: a4_landscape_official_feature_data_demo
           label: Demo with feature information print (landscape)
        optional_fields:               
          title:                      
          label: Title           
          options:             
            required: false     
          comment1:
            label: Comment 1
            options: { required: false }
          comment2:
            label: Comment 2
            options: { required: false }


framework:
    #esi:             ~
    translator:      { fallback: %fallback_locale% }
    secret:          %secret%
    router:
        resource: "%kernel.root_dir%/config/routing.yml"
        strict_requirements: %kernel.debug%
    form:            true
    csrf_protection: true
    validation:      { enable_annotations: true }
    templating:      { engines: ['twig'] } #assets_version: SomeVersionScheme
    default_locale:  %locale%
    session:
        cookie_httponly: true
        cookie_secure: %cookie_secure%
        cookie_lifetime: %cookie_lifetime%


# Twig Configuration
twig:
    strict_variables: %kernel.debug%
    form_themes:
       - MapbenderCoreBundle:form:fields.html.twig

# Doctrine Configuration
doctrine:
    dbal:
        default_connection: default
        connections:
            default:
                driver:   '%database_driver%'
                host:     '%database_host%'
                port:     '%database_port%'
                dbname:   '%database_name%'
                path:     '%database_path%'
                user:     '%database_user%'
                password: '%database_password%'
                persistent: true
                charset:  UTF8
                logging: '%kernel.debug%'
                profiling: '%kernel.debug%'
            geodata_db:
                driver:   '%database2_driver%'
                host:     '%database2_host%'
                port:     '%database2_port%'
                dbname:   '%database2_name%'
                path:     '%database2_path%'
                user:     '%database2_user%'
                password: '%database2_password%'
                persistent: true
                charset:  UTF8
                logging: '%kernel.debug%'
                profiling: '%kernel.debug%'
            ne2:
                driver:   '%database3_driver%'
                host:     '%database3_host%'
                port:     '%database3_port%'
                dbname:   '%database3_name%'
                path:     '%database3_path%'
                user:     '%database3_user%'
                password: '%database3_password%'
                persistent: true
                charset:  UTF8
                logging: '%kernel.debug%'
                profiling: '%kernel.debug%'
    orm:
        auto_generate_proxy_classes: %kernel.debug%
        auto_mapping: true

# Swiftmailer Configuration
swiftmailer:
    transport: %mailer_transport%
    host:      %mailer_host%
    username:  %mailer_user%
    password:  %mailer_password%
    spool:     { type: memory }

# FOM Manager Configuration
fom_manager:
    route_prefix: /manager

# see https://github.com/mapbender/fom/blob/master/src/FOM/UserBundle/CONFIGURATION.md#extension-configuration
fom_user:
    selfregister: false
    reset_password: true
    max_reset_time: 1

# see https://github.com/mapbender/owsproxy3/blob/master/CONFIGURATION.md#extension-configuration
ows_proxy3_core:
    logging: %ows_proxy3_logging%
    obfuscate_client_ip: %ows_proxy3_obfuscate_client_ip%
    proxy:
        host: %ows_proxy3_host%
        port: %ows_proxy3_port%
        connecttimeout: %ows_proxy3_connecttimeout%
        timeout: %ows_proxy3_timeout%
        user: %ows_proxy3_user%
        password: %ows_proxy3_password%
        checkssl: true
        noproxy: %ows_proxy3_noproxy%

