parameters:
    ### todo: switch to using dsn urls, see https://www.doctrine-project.org/projects/doctrine-dbal/en/2.9/reference/configuration.html#connecting-using-a-url
    ###       To avoid suprises, a DSN can be constructed here from parts, at least for the shipping default parameters
    ###       Connection definition in config.yml should only use url: '%database_dsn%' though
    database_driver:   pdo_pgsql
    database_host:     'localhost'
    database_port:     '5432'
    database_name:     'mapbender'
    database_path:     ~
    database_user:     'mapbender'
    database_password: TBD

    database2_driver:   pdo_pgsql
    database2_host:     'localhost'
    database2_port:     '5432'
    database2_name:     'geobasis'
    database2_path:     ~
    database2_user:     'user'
    database2_password: 'user'

    database3_driver:   pdo_pgsql
    database3_host:     'localhost'
    database3_port:     '5432'
    database3_name:     'natural_earth2'
    database3_path:     ~
    database3_user:     'user'
    database3_password: 'user'


    # Might also use third-party providers like e.g. Mailchimp, see https://symfony.com/doc/current/mailer.html#using-built-in-transports
    mailer_dsn:        smtp://user:pass@smtp.example.com:25

    # locale en, de, it, es, ru, nl, pt are available
    fallback_locale:   en
    locale:            en
    secret:            ThisTokenIsNotSoSecretChangeIt

    # framework : https://symfony.com/doc/4.4/reference/configuration/framework.html#cookie-lifetime
    cookie_secure: false
    cookie_lifetime: 3600

    # OWSProxy Configuration
    # see https://github.com/mapbender/owsproxy3/blob/master/CONFIGURATION.md#extension-configuration
    ows_proxy3_logging: false
    ows_proxy3_obfuscate_client_ip: true
    ows_proxy3_host: ~
    ows_proxy3_port: ~
    ows_proxy3_connecttimeout: 60
    ows_proxy3_timeout: 90
    ows_proxy3_user: ~
    ows_proxy3_password: ~
    ows_proxy3_noproxy: ~


# Define your own branding parameters
    branding.project_name: Geoportal powered by Mapbender
    branding.logo: ./bundles/workshopdemo/image/workshop_logo.png

# Definition for the Login-Landscape-Image
    branding.login_backdrop: ./bundles/mapbendercore/image/body.png


# Links & Disclaimer https://doc.mapbender.org/de/customization/yaml.html#disclaimer
    mapbender.sitelinks:
      - link: https://mapbender.org/impressum-kontakt  # Link URL
        text: Impressum & Kontakt                      # Link Text
      - link: https://mapbender.org/datenschutz
        text: Datenschutz

    mapbender.cookieconsent: true

# default layer order when creating *new* WMS layerset instances
# allowed values are either
# * "standard": Traditional Mapbender behaviour: top-down rendering in GetCapabilities order;
#               also the default if this parameter is not defined
# * "reverse": bottom-up, for QGIS server, ArcGIS etc
#     wms.default_layer_order: standard

    wmsloader.example_url: "https://osm-demo.wheregroup.com/service?VERSION=1.3.0&REQUEST=GetCapabilities&SERVICE=WMS"

    #mapbender.disabled_elements:
        #- Mapbender\CoreBundle\Element\ResetView
        # Installed as a collateral Digitizer 1.4 dependency
        #- Mapbender\DataManagerBundle\Element\DataManager

# print queue: activates the queued print mode: read more at https://github.com/mapbender/mapbender/pull/1070
    mapbender.print.queueable: false
    # specifies an absolute path for the generated PDF files
    # default is [your mapbender installation]/web/prints
    # mapbender.print.queue.storage_dir: "/dat/example-installation/prints"