html, body {
    color: #002647;
}

.head{
    top: 0px;
    border-top: none;
    background-image: url("../../bundles/workshopdemo/image/head.png");
    background: -owg-linear-gradient(rgba(255, 255, 255, 0.1), rgba(255, 255, 255, 0)), url("../../bundles/workshopdemo/image/head.png");
    background: -webkit-linear-gradient(rgba(255, 255, 255, 0.1), rgba(255, 255, 255, 0)), url("../../bundles/workshopdemo/image/head.png");
    background: -moz-linear-gradient(rgba(255, 255, 255, 0.1), rgba(255, 255, 255, 0)), url("../../bundles/workshopdemo/image/head.png");
    background: -o-linear-gradient(rgba(255, 255, 255, 0.1), rgba(255, 255, 255, 0)), url("../../bundles/workshopdemo/image/head.png") ;
    background: linear-gradient(rgba(255, 255, 255, 0.1), rgba(255, 255, 255, 0)), url("../../bundles/workshopdemo/image/head.png");

}

.authWrapper > .head{
    top: 0px;
    border-top: none;
    background-image: url("../../bundles/workshopdemo/image/head.png");
    background: -owg-linear-gradient(rgba(255, 255, 255, 0.1), rgba(255, 255, 255, 0)), url("../../bundles/workshopdemo/image/head.png");
    background: -webkit-linear-gradient(rgba(255, 255, 255, 0.1), rgba(255, 255, 255, 0)), url("../../bundles/workshopdemo/image/head.png");
    background: -moz-linear-gradient(rgba(255, 255, 255, 0.1), rgba(255, 255, 255, 0)), url("../../bundles/workshopdemo/image//head.png");
    background: -o-linear-gradient(rgba(255, 255, 255, 0.1), rgba(255, 255, 255, 0)), url("../../bundles/workshopdemo/image//head.png") ;
    background: linear-gradient(rgba(255, 255, 255, 0.1), rgba(255, 255, 255, 0)), url("../../bundles/workshopdemo/image/head.png");
}

.dekoSeperator {
    height: 6px;
    border: none;
    outline: none;
    background: url("../../bundles/workshopdemo/image/line.png");
}

.logo {
    border: none;
}


.loginBox{
  background: #fff;
  border-top: solid 1px #002647;
  border-left: solid 1px #002647;
  border-right: solid 1px #002647;
  border-bottom: solid 5px #002647;
}


.authWrapper > .loginBox{
  background: #fff;
  border-top: solid 1px #002647;
  border-left: solid 1px #002647;
  border-right: solid 1px #002647;
  border-bottom: solid 2px #002647;
}

.authWrapper > .loginBox > form > .linkButton, .authWrapper > .loginBox > form > .button, .tabContainerAlt .authWrapper > .loginBox > form > .tab, .accordionContainer .authWrapper > .loginBox > form.accordion > div, .mb-element-popup-dialog > .modal-header .ui-dialog-titlebar-buttonpane .authWrapper > .loginBox > form > a {
    font-size: 1em;
}    

.button, .tabContainerAlt .tab, .accordionContainer .accordion > div, .mb-element-popup-dialog > .modal-header .ui-dialog-titlebar-buttonpane a {
    border: 1px solid #002647;
    color: #fff;
    background-color: #002647;
}

.button:hover {
    background-color: #00417A;
}

