.btn-primary {
  --bs-btn-bg: #006400;
  --bs-btn-border-color: #006400;
  --bs-btn-hover-bg: #006400;
  --bs-btn-hover-border-color: #006400;
  --bs-btn-active-bg: #006400;
  --bs-btn-active-border-color: #006400;
}

.popup {
    border-radius: 10px;
}
.popupHead {
    border-bottom: solid 1px #162b53; // dark blue
    margin: 0 20px 20px 20px;
    padding: 20px 0 10px 0;
}

.toolBar.top {
    border-bottom: solid 2px #006400;
}    

.toolBar.bottom {
    border-top: solid 2px #006400;
}    

.html-stil-anwendung{
  color: red;
  font-size: 16px;
  font-weight: bold;
}
