//https://github.com/mapbender/mapbender/blob/master/src/Mapbender/CoreBundle/Resources/public/sass/libs/_variables.scss
//--------------------------------------------------------------patterns
/*$rootPath:  "bundles/mapbendercore/"; // !default;
$imageBasePath: $rootPath + "image";
$iconBasePath: $rootPath + "fonts";
*/

//------------------------------------------------------------------font
$fontFamily: "Times New Roman, Open Sans", "Calluna Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
$fontSize:12px;

// Colors applied on body / normal content containers (sidepane, popups, mobile pane)
$textColor: #006400;
$backgroundColor: #ffffff;
$panelBorderColor: #006400;

//-----------------------------------------------------------------other
$space: 30px;
$radius: 3px;
$popupModalWidth: 600px;

$desktopBreakpointWidth: 1200px;

//----------------------------------------------------------------colors
$firstColor:#006400; // green
$errorColor:#ff0000; // red

$lightFontColor:#ffffff; // white

// Toolbar colors (frontend)
$toolBarFontColor: #006400; // green
$toolBarBackgroundColor: $backgroundColor;
$toolBarOpacity: 1;
// Default and hover opacity for Button (and Button-like) Elements in toolbars
$toolBarButtonDefaultOpacity: 0.7;
$toolBarButtonHoverOpacity: 0.4;
$toolBarButtonActiveOpacity: $toolBarButtonHoverOpacity;

// the holy colors
$ciColor:#002647; // blue

// Button colors
$buttonCriticalFirstColor: #d36565; //red
$buttonCriticalSecondColor: darken($buttonCriticalFirstColor, 10%); //darkred
$buttonFirstColor: darken($firstColor,10%);
$buttonSecondColor: #ff00ff;
$buttonTextColor: $lightFontColor;
$buttonBorderColor: $firstColor;
$buttonHoverColor: lighten($buttonFirstColor,20%);
$buttonHoverTextColor: $buttonTextColor;
$buttonFirstActiveColor: lighten($buttonFirstColor,10%);
$buttonActiveTextColor: $buttonTextColor;

$buttonCriticalTextColor: $lightFontColor;
$buttonCriticalHoverTextColor: $buttonCriticalTextColor;
$buttonCriticalBorderColor: #9f3434;
$buttonCriticalHoverColor: #cd5151;

// Button sizing
$buttonFontSize: 100%;

// Form inputs
$inputBackgroundColor: #d2f8f4;
$inputForegroundColor: #168B7F;

$sliderHandleBackgroundColor: #a3a3a3;

$accordionFontSize: 100%;
$accordionBackgroundColor: lighten($firstColor,20%);
$accordionTextColor: $lightFontColor;
$accordionActiveBackgroundColor: darken($accordionBackgroundColor, 10%);
$accordionActiveTextColor: $accordionTextColor;
$accordionHoverBackgroundColor: lighten($accordionBackgroundColor, 40%);

// Header buttons in type "buttons" sidepane
$sidepaneButtonFontSize: $buttonFontSize;
$sidepaneButtonTextColor: $buttonTextColor;
$sidepaneButtonBackgroundColor: $buttonFirstColor;
$sidepaneButtonBorderColor: $buttonBorderColor;
$sidepaneButtonHoverColor: $buttonHoverColor;
$sidepaneButtonActiveTextColor: $buttonTextColor;
$sidepaneButtonActiveBackgroundColor: $buttonFirstActiveColor;
