/* Amended variables for backend area; applied on top of libs/_variables.scss from core bundle */
$textColor: #0000ff;
$backgroundColor: #e8e8e8;

/* Black on white for maximum contrast and decent placeholder contrast */
$inputForegroundColor: #f00;
$inputBackgroundColor: #f0f0ff;
$fontSize: 12px;
//$fontFamily: "Ubuntu", $fontFamily;
$inputBorderColor: transparent;
$inputFocusBorderColor: #ff00ff;
